/* Algemeen */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'ArminGrotesk SemiBold' ;
  src: url(fonts/ArminGrotesk-SemiBold.otf);
}

@font-face {
  font-family: 'ArminGrotesk UltraLight' ;
  src: url(fonts/ArminGrotesk-UltraLight.otf);
}

html,body {
  margin: 0;
  padding: 0;
}


h1 {
  font-family: ArminGrotesk SemiBold;
  font-size: 2em;
}

h2 {
  font-family: ArminGrotesk SemiBold;
}

h3 {
  font-family: ArminGrotesk SemiBold;
}

p {
  font-family: ArminGrotesk UltraLight;
}

/* nav */

header {  
  margin: 4em 4em 4em 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: ArminGrotesk SemiBold;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800vw;  
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0em;
}

nav a{  
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin: 0.3em;
}

nav li a:hover{  
  border-bottom: solid 2px black;
}

nav li a:active{  
  border-bottom: solid 2px black;
}

/* grid */

.grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid img{
  height: 50vh;
  display: block;
  margin: 0.15em;
}

.grid img:hover{
  opacity: 50%;
  transition: 0.3s;
  scale: 0.97;
}

.grid img:active{
  opacity: 50%;
  transition: 0.3s;
  scale: 0.97;
}

/* inhoud */

.Over-mij {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.Over-mij p{
  width: 30vw;
}

.Over-mij img{
  width: 30vw;
}

.article-afbeeldingen{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.vertical{
  height: 90vh;
}

.horizontal{
  width: 90vw;
}

.article-afbeeldingen article{
  width: 50vw;
  margin-bottom: 4em;
}

.inspiratie-article{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inspiratie-article img{
  width: 50vw;
  display: block;
}

.inspiratie-article img:hover{
  opacity: 50%;
  transition: 0.3s;
  scale: 0.97;
  display: block;
}

.inspiratie-article img:active{
  opacity: 50%;
  transition: 0.3s;
  scale: 0.97;
  display: block;
}

.inspiratie-article article{
  width: 50vw;
  padding: 5em;
}

.inspiratie-article-reverse{
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}

.inspiratie-article-reverse img{
  width: 50vw;
  display: block;
}

.inspiratie-article-reverse img:hover{
  opacity: 50%;
  transition: 0.3s;
  scale: 0.97;
  display: block;
}

.inspiratie-article-reverse img:active{
  opacity: 50%;
  transition: 0.3s;
  scale: 0.97;
  display: block;
}

.inspiratie-article-reverse article{
  width: 50vw;
  padding: 5em;
}

footer{
  padding: 4em;
}

footer p{
  font-size: 0.8em;
  color: gray;
}

footer a{
  color: gray;
}

/* Responsive */

@media only screen and (max-width: 375px) {
  

header {  
  margin: 2em 3em 2em 3em;
}

nav{
  flex-direction: column;
}

nav a{  
  margin: 0em;
}

nav ul{
  justify-content: space-between;
  margin: 0em;
  gap: 3em;
}

.grid img{
  height: 48vw;
  margin: 0.10em;
}

.Over-mij {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.Over-mij img{
  width: 100vw;
}

.Over-mij p{
  width: 80vw;
  margin-bottom: 2em;
}

.inspiratie-article{
  flex-direction: column;
  gap: 2em;
  margin-bottom: 4em;
}

.inspiratie-article img{
  width: 100vw;
}

.inspiratie-article article{
  width: 80vw;
  padding: 0em;
 
}

.inspiratie-article-reverse{
  flex-flow: column;
  gap: 2em;
}

.inspiratie-article-reverse img{
  width: 100vw;
}

.inspiratie-article-reverse article{
  width: 80vw;
  padding: 0em;
  margin-bottom: 2em;
}

.vertical{
  height: auto;
  width: 100vw;
}

.horizontal{
  width: 100vw;
}

.article-afbeeldingen article{
  width: 80vw;
}


}