/* Algemeen */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gilmer Bold' ;
  src: url(fonts/Gilmer\ Bold.otf);
}

@font-face {
  font-family: 'Gilmer Medium' ;
  src: url(fonts/Gilmer\ Medium.otf);
}

@font-face {
  font-family: 'Gilmer Light' ;
  src: url(fonts/Gilmer\ Light.otf);
}

html,body {
  margin: 0;
  padding: 0;
}

header {  
  margin: 4em 4em 4em 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: Gilmer Bold ;
  font-size: 2em;
}


nav a{  
  text-decoration: none;
  font-family: gilmer bold;
  color: black;
  font-size: 1em;
  margin: 0.3em;

  }

nav a:hover{  
  text-decoration: underline;
}

nav a:active{  
  text-decoration: underline;
}


/* home */

.grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0em 2em 0em 2em;
}

.grid a{
  padding: 0;
  padding-bottom: 0;
  
}

.grid img{
  height: 50vh;
  margin-left: 0.15em;
  margin-right: 0.15em;

}

.grid img:hover{
  opacity: 50%;
  transition: 0.5s;
}

.grid img:active{
  opacity: 50%;
  transition: 0.5s;
}

/* over mij */

.Over-mij {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Over-mij p{
    
    font-family: Gilmer Light;
    letter-spacing: 1px;
    width: 30vw;
    margin:  5em
  }

.Over-mij img{
  margin-left:  5em ;
  width: 20vw;
}

/* afbeeldingen */

.article-afbeeldingen{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  width: 90em;
}

/* 
.horizontal{
 width: 90vw;
 margin-left: auto;
 margin-right: auto;
} */

.vertical{
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
 }

.article-text{
  margin-left: 10em;
  margin-top: 3em;
  width: 50vw;
}
 

.article-text h2{
  font-family: gilmer bold;
}

.article-text p{
  font-family: gilmer light;
}
